# Asignar MONGO_URI a alguna de las opciones y guardar como .'env'
# 
# DB local
#
# MONGO_URI = mongodb://localhost:27017
#
# DB en Docker
#
# MONGO_URI = mongodb://root:example@mongodb:27017
#
# DB en Atlas 
#
# MONGO_URI = mongodb+srv://<USER>:<PASS>@<CLUSTER>.mongodb.net/?retryWrites=true&w=majority 
		# &ssl_cert_reqs=CERT_NONE

