<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
</head>
<body>
    <h1>Events</h1>
    <a href="{{ url_for('newEvent') }}">Create New Event</a>
    <ul>
        {% for event in events %}
        <li>
            <h2>{{ event.name }}</h2>
            <p>{{ event.timestamp }}</p>
            <p>{{ event.place }}</p>
            <p>{{ event.lat }}, {{ event.lon }}</p>
            <p>{{ event.organizer }}</p>
            <img src="{{ event.image }}" alt="Event Image">
            <a href="{{ url_for('editEvent', _id=event._id) }}">Edit</a>
            <a href="{{ url_for('deleteEvent', _id=event._id) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>